<div class="hero-unit">
	<h1>Idea List &nbsp;
	<%= link_to 'New Idea', new_idea_path, {:class => "btn btn-warning btn-large"} %>
	</h1>
</div>

<div class="container">
  <% @ideas.in_groups_of(4, false) do |group| %>
    <div class="row-fluid">
	  <ul class="thumbnails">
	    <% group.compact.each do |idea| %>
		  <div class="thumbnail-row">
		    <%= link_to image_tag(idea.picture_url(:medium), :class => "thumbnail"), idea %>
	  	    <div class="caption"><%= idea.name %></div>
		  </div>	
	    <% end %>  
	  </ul>
    </div>
  <% end %>
  
  
</div>

